@model List<DICOM_APP.Models.Segmento>
@{
    ViewBag.Title = "CheckMessage";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/CMensaje.css" type="text/css" rel="stylesheet" />
    <title>Check Message</title>
</head>
<body>
   
    <div id="segmentos"class="row">
       

     
            @for (int i = 0; i < Model.Count; i++)
            {
                    <div id="campos" class="col">
                        @for (int j = 0; j < Model[i].campos.Count; j++)
                        {
                            if (Model[i].campos.Count==0)
                            {
                                <h5>Esta Vacio el Segmento</h5>
                            }
                            else
                            { 
                                <h6> @Model[i].campos[j].nombre : @Model[i].campos[j].data </h6>

                            }
                        }
                    </div>
            }
    

    </div>
    <div id="botones"class="btn-group">
        <button type="button" id="btnVerificar" class=" btn btn-outline-success">Verificar</button>
        <button type="button" id="btnRechazar" class=" btn btn-outline-danger">Rechezar Mensaje</button>
    </div>
</body>
</html>

