@{
    ViewBag.Title = "Index";
}


<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />

    <link href="~/Content/Main.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Admisiones.css" type="text/css" rel="stylesheet" />
    <title>Menu</title>
</head>
<body>

    <div id="menus" class="container">
        <h1>Menu Principal</h1>
        <a href="/Home/CheckMessage" style="text-decoration:none"><button type="button" id="btnMessage" class="btn btn-outline-info btn-block">Check Message</button></a>

        <a href="/Home/ListaAgendados" target="_self" style="text-decoration:none">
            <button type="button" id="btnAdmision" class="btn btn-outline-warning btn-block">Admision</button>
        </a>
        <button type="button" id="btnService" class=" btn btn-outline-success btn-block">Service</button>
    </div>

</body>
</html>