
@{
    ViewBag.Title = "Servicio";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Service.css" type="text/css" rel="stylesheet" />
    <title>Formulario de Servicio</title>
</head>
<body>
    <form >
        <div class="form-group">
            <label for="lblPID">Ingresar PID</label>
            <input type="text" class="form-control" id="lblPID">
        </div>
        <div class="form-group">
            <label for="lblNombre">Ingresar Nombre</label>
            <input type="text" class="form-control" id="lblNombre">
        </div>
        <div id="btnGroup">
            <button type="button" class="btn btn-outline-info">Realizar Informe</button>
            <button type="button" class="btn btn-outline-warning">Buscar</button>
            <button type="button" class="btn btn-outline-success">Menu Principal</button>
        </div>
    </form>


</body>
</html>